

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Calibri";
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-control-inner-background: derive(#70c2c6,20%);
}

.text-area {
    -fx-background-color: #c69f70;
    -fx-control-inner-background: #6487b2;
    -fx-font-family: "Calibri Light";
    -fx-font-size: 12pt;
    -fx-text-fill: white;
    -fx-padding: 5 5 5 5;
}

.button-bar {
	-fx-background-color: #70c2c6;
}